polkit.addRule(function(action, subject) {
    if (subject.user != "parkgw") {
        return;
    }

    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "park-gateway.service") {
        return polkit.Result.YES;
    }

    if ([
        "org.freedesktop.login1.reboot",
        "org.freedesktop.login1.reboot-ignore-inhibit",
        "org.freedesktop.login1.reboot-multiple-sessions",
        "org.freedesktop.login1.power-off",
        "org.freedesktop.login1.power-off-ignore-inhibit",
        "org.freedesktop.login1.power-off-multiple-sessions"
    ].indexOf(action.id) >= 0) {
        return polkit.Result.YES;
    }
});
